{% extends "base/home_base.html" %}

{% block content %}

    {% if validlink %}
    <div class="col-md-3 col-md-offset-3">
      <h3 class="text-center">Создание нового пароля</h3>
      <hr>
{#        <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>#}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}  {# TODO добавить crispy #}
                        <label for="id_new_password2">Подтвердить пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <p><input class="btn btn-success" type="submit" value="Отправить" /></p>
        </form>
    </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
